* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root {
    --btn-primary: #17a2b8;
    --bg-header: #65a4e0;
    --bg-footer: #202c43;
    --bg-body: #f1f0f1;
    --black: black;
    --black-01: #222;
    --white: white;
    --white-gray-01: #ece9e9;
    --white-gray-02: #d6d6d6;
    --gray-01: #ccc; 
    --gray-02: #828282; 
    --gray-03: #4A4A4A; 
    --green-01: #2cc067;
    --blue-01: #80bdff;
    --blue-05: #0074da;
    --blue-fb: #4267b2;
    --black-alpha-40:  rgba(0, 0, 0, 0.4);
    --red: #d82a29;
    --bg-navbar: white;
}

[data-theme="dark"] {
    --bg-header: #202020;
    --bg-footer: #202020;
    --white: black;
    --black: white;
    --black-01: white;
    --gray: black;
    --bg-body: #181818;
    --gray-03: white;
    --white-gray-02: #373737;
    --bg-navbar: #212121;
    --red: #fb7675;
  }

html {
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    /* font-size: 16px; */
    font-family: "Time New Roman";
}

body {
    overflow-x: hidden;
    background-color: var(--bg-body);
    position: relative;
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

ul {
    list-style-type: none;
    display: flex;
}

a {
    text-decoration: none;
    color: var(--White);
    font-size: 38px;
    font-family: "Time New Roman";
    text-shadow: 0 0 3px rgb(250, 155, 155);
}

.container {
    max-width: 1280px;
    width: 1280px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row {
    margin: 0 -4px;
}

.row.column {
    flex-direction: column;
}

table {
	background-color: var(--white);
	width: 100%;
	border: 1px solid var(--white-gray-01);
	border-collapse: collapse;
}

table th, 
table td {
	border-bottom: 2px solid var(--white-gray-01);
	padding: 8px;
}

table thead {
	background-color: #293847;
    color: #ECF0F1;
}

button {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.btn {
    display: inline-block;
    
    padding: 6px 20px;
    font-size: 16px;
    
    background-color: var(--btn-primary);
    color: white;
    
    border-radius: 4px;
    border: 2px solid var(--btn-primary);

    cursor: pointer;
    transition: all ease 0.2s;
}

.btn-transparent {
    background-color: transparent;
    color: var(--btn-primary);
}

.btn:hover {
    opacity: 0.8;
}

.btn.add {
    background-color: var(--green-01);
    color: white;

    border: 2px solid var(--green-01);
    cursor: pointer;
}

form .form-group {
    position: relative;
    margin-bottom: 16px;
}

form .form-group .form-control {
    width: 100%;
    padding: 10px 0;
    padding-right: 12px;

    font-weight: 500;
    font-size: 14px;

    color: #19191a;
    
    border: 1px solid var(--gray-01);
    border-radius: 4px;
    outline: none;
}

form .form-group .form-control:focus {
    border-color: var(--blue-01);
}

form .form-group select {
    width: 100%;
    padding: 10px;

    font-weight: 500;
    font-size: 12px;
    
    color: #19191a;
    
    border: 1px solid var(--gray-01);
    border-radius: 4px;
    outline: none;
}

#loading {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 999;
    background-color: var(--black-alpha-40);
    
    display: none;
}



#loading img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    width: 100px;
}

.breadcrumb ul li a {
    line-height: 35px;
    
    font-size: 18px;
    font-weight: 600;
    
    color: var(--gray-03);
}

.breadcrumb ul li:not(:first-child) a {
    color: var(--bg-header);
}


.breadcrumb ul li:not(:last-child)::after {
    content: '\2192';
    margin-left: 2px;
    margin-right: 4px;
    
    font-size: 20px;
    
    color: var(--gray-03);
}

#box-message {
    opacity: 0;
    visibility: hidden;

    display: grid;
    place-items: center;

    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 999;
    background-color: var(--black-alpha-40);
    transition: all ease 0.2s;
}

#box-message.show {
    opacity: 1;
    visibility: visible;
}

#box-message .message {
    width: 525px;
    padding: 20px;
    background-color: var(--white);
    display: grid;
    place-items: center;
    color: #545454;
    border-radius: 4px;
    transition:  transform ease 0.2s;
    animation: messageShow 0.3s;
    
}

@keyframes messageShow {
    0% {
        transform: scale(0.7);
    }
    45% {
        transform: scale(1.05);
    }
    80% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}

#box-message .message-icon {
    position: relative;
    width: 80px;
    height: 80px;
    border: 1px solid var(--green-01);
    border-radius: 50%;

    margin: 5px 0;
}

#box-message .message-icon i{
    position: absolute;
    top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

    font-size: 55px;
    color: var(--green-01);
}

/* success */
#box-message .message.success .message-icon {
    border: 1px solid var(--green-01);
}

#box-message .message.success .message-icon i{
    color: var(--green-01);
}

/* info */

#box-message .message.info .message-icon {
    border: 1px solid var(--blue-01);
}

#box-message .message.info .message-icon i{
    color: var(--blue-01);
}

/* error */

#box-message .message.error .message-icon {
    border: 1px solid var(--red);
}

#box-message .message.error .message-icon i{
    color: var(--red);
}

#box-message .message-body {
    text-align: center;
    line-height: 1.7;
}

#box-message .message-title {
    font-size: 32px;
    font-weight: 700;
}

#box-message .message-info {
    font-size: 18px;
    font-weight: 400;
}

#box-message .message-body, 
#box-message .message-action {
    margin-top: 20px;
}

#box-message .btn-accept {
    font-size: 20px;
}

@media (min-width: 414px) and (max-width: 767px) {
    #box-message .message  {
        width: calc(100% - 20px);
    }

    #box-message .message-icon {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin: 0;
    }

    #box-message .message-icon i {
        font-size: 35px;
    }

    #box-message .message-body {
        line-height: 1.6;
        margin-top: 10px;
    }

    #box-message .message-title {
        font-size: 28px;
    }

}

@media (min-width: 320px) and (max-width: 413px) {
    #box-message .message  {
        width: calc(100% - 20px);
    }

    #box-message .message-icon {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin: 0;
    }

    #box-message .message-icon i {
        font-size: 35px;
    }

    #box-message .message-body {
        line-height: 1.6;
        margin-top: 10px;
    }

    #box-message .message-title {
        font-size: 28px;
    }
}